{% for asset in page.assets %}
  {% case asset.type %}
      {% when 'image' %}
        {% capture galleryFramesColor %}{% if theme.gallery_frames_color %}{{ theme.gallery_frames_color_code }}{% else %}{{ asset.dominant_color }}{% endif %}{% endcapture %}
        {% assign ratioWidth = asset.image_dimensions_1600x1200[0] %}
        {% assign ratioHeight = asset.image_dimensions_1600x1200[1] %}
        {% capture dominantColor %}{% if asset.dominant_color %}{{ asset.dominant_color }}{% else %}#eeeeee{% endif %}{% endcapture %}
        {% capture orientation %}{% if ratioWidth > ratioHeight %}landscape{% elsif ratioHeight > ratioWidth %}portrait{% else %}square{% endif %}{% endcapture %}
          <div class="asset {{ orientation }} image w-50-l w-100 flex items-start justify-center relative" style="background-color:{{ galleryFramesColor }};">
            <div class="img-container relative">
                <div>
                <a class="db" name="{{ forloop.index }}" data-fancybox="e" href="{{ asset.image_url_1600x1200 }}" rel="lightbox" data-color="{{ galleryFramesColor }}">
                    <img data-color="{{ galleryFramesColor }}" class="absolute db bottom-0 top-0 z-2 lazyload {{ orientation }}" data-sizes="auto" width="{{ ratioWidth }}" height="{{ ratioHeight }}" data-src="{{ asset.image_url_1600x1200 }}" alt="{{ asset.alt_text }}" data-srcset="{{ asset | srcset: 'height' }}" data-parent-fit="contain" />
                </a>
                <canvas class="{{ orientation }} image-placeholder" width="{{ ratioWidth }}" height="{{ ratioHeight }}" style="background-color:{{ dominantColor }};"></canvas>
                {% if asset.copy %}
                    <div class="caption pv3 w-100 z-2 relative">
                        <div>
                            {{ asset.copy }}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
          </div>
      {% when 'video' %}
          <div class="asset video w-50 relative">
            <div class="relative z-1">
                <div class="pointer absolute z-1 top-0 left-0 right-0 bottom-0 cover video-overlay flex items-center justify-center" style="background: url({{ asset.thumbnail_url_960x0 }}) no-repeat center center;">
                    <p class="z-1 relative">
                        Play
                    </p>
                    <span class="z-1 play-icon relative">▶</span>
                </div>
                {{ asset.embed_dimensions }}
            </div>
            {% if asset.copy %}
                <div class="caption pv3 w-100 z-2 relative">
                    <div>
                        {{ asset.copy }}
                    </div>
                </div>
            {% endif %}
          </div>
      {% when 'text' %}
          <div class="asset text ph4 w-100">
          {% capture small %}{% if theme.gallery_header_typography_size == 'Small' %}w-80-ns{% endif %}{% endcapture %}
            <div class="w-90-l center mv5-ns mv4">
                <div class="{{ small }}">
                    {{ asset.copy }}
                </div>
            </div>
          </div>
  {% endcase %}
{% endfor %}