{% for asset in page.assets %}
  {% case asset.type %}
      {% when 'image' %}
          <div class="asset image w-50-l w-100 flex items-start justify-center pa5" style="background-color:{{ dominantColor }};">
            <div class="relative">
                {% assign ratioWidth = asset.image_dimensions_1600x1200[0] %}
                {% assign ratioHeight = asset.image_dimensions_1600x1200[1] %}
                {% capture dominantColor %}{% if asset.dominant_color %}{{ asset.dominant_color }}{% else %}#eeeeee{% endif %}{% endcapture %}
                <img data-sizes="auto" width="{{ ratioWidth }}" height="{{ ratioHeight }}" class="lazyload" data-src="{{ asset.image_url_1600x1200 }}" alt="{{ asset.alt_text }}" data-srcset="{{ asset | srcset: 'height' }}" data-parent-fit="contain" />
                {% if asset.copy %}
                    <div class="caption absolute bottom-0 left-0 pv4 w-100" style="color:white">
                        <div class="mw9 center ph4 lh-title">
                            {{ asset.copy }}
                        </div>
                    </div>
                {% endif %}
                <canvas class="image-placeholder" width="{{ ratioWidth }}" height="{{ ratioHeight }}" style="background-color:{{ dominantColor }};"></canvas>
            </div>
          </div>
      {% when 'video' %}
          <div class="asset video w-100">
              {{ asset.embed_dimensions }}
              {% if asset.copy %}
                <div class="caption f4 pl4 w-25 mt3 mb5">{{ asset.copy }}</div>
              {% endif %}
          </div>
      {% when 'text' %}
          <div class="asset text f2 ph4 mv5 mw9 center w-100">
                {{ asset.copy }}
          </div>
  {% endcase %}
{% endfor %}