<div class="w-25 pl4 lh-solid">
    {% if theme.logo_image %}
        <h1 class="logo fixed z-2"><a class="link" href="{{ paths.root }}"><img src="{{ theme.logo_image }}" alt="{{ site.name }}" /></a></h1>
    {% elsif theme.logo_text %}
        <h1 class="logo f2-l f3 fixed z-2"><a class="link" href="{{ paths.root }}">{{ theme.logo_text | newline_to_br }}</a></h1>
    {% endif %}
</div>
