<nav class="social flex flex-wrap">
    {% for i in (1..5) %}
        {% capture icon_name %}icon{{i}}{% endcapture %}
        {% capture icon_text %}icon{{i}}text{% endcapture %}
        {% unless theme[icon_name] == 'None' or theme[icon_text] == blank %}
        <div class="{% if theme.social_links_style == 'Icon' %} w-25-ns w-50 {% else %} w-50-ns w-100 {% endif %} social-link db mb2 link pl4">
            <a href="{{ theme[icon_text] | strip_brs }}" class="{% if theme.social_links_style == 'Icon' %}icon f-icon-{{ theme[icon_name] | downcase | replace:'+','plus' }}{% endif %}" target="_blank" title="{{ theme[icon_name] }}">
                {% if theme.social_links_style == 'Text' %}{{ theme[icon_name] }}{% endif %}
            </a>
        </div>
        {% endunless %}
    {% endfor %}
    {% unless theme.show_social_sharing == false %}
        <div class="{% if theme.social_links_style == 'Icon' %} w-25-ns w-50 {% else %} w-50-ns w-100 {% endif %} social-share social-link db mb2 link pl4">
            <a href="#" id="share_4ormat_link" class="{% if theme.social_links_style == 'Icon' %}icon f-icon-share {% endif %}social-share social-link" title="Share">
                {% if theme.social_links_style == 'Text' %}Share{% endif %}
            </a>
        </div>
    {% endunless %}
</nav>

