{% if page.title %}
    {% if page.title.image_url and page.title.copy_alignment != "only" %}
        {% capture galleryFramesColor %}{% if theme.gallery_frames_color %}{{ theme.gallery_frames_color_code }}{% else %}{{ page.title.dominant_color }}{% endif %}{% endcapture %}
        {% assign ratioWidth = page.title.image_dimensions_1600x1200[0] %}
        {% assign ratioHeight = page.title.image_dimensions_1600x1200[1] %}
        {% capture dominantColor %}{% if page.title.dominant_color %}{{ page.title.dominant_color }}{% else %}#eeeeee{% endif %}{% endcapture %}
        {% capture orientation %}{% if ratioWidth > ratioHeight %}landscape{% elsif ratioHeight > ratioWidth %}portrait{% else %}square{% endif %}{% endcapture %}
        <div class="asset {{ orientation }} image w-100 flex items-start justify-center relative" style="background-color:{{ galleryFramesColor }};">
          <div class="img-container relative">
              <a class="db" data-fancybox="images" href="{{ page.title.image_url_1600x1200 }}" rel="lightbox" data-color="{{ galleryFramesColor }}">
                  <img data-color="{{ galleryFramesColor }}" class="absolute db bottom-0 top-0 z-2 lazyload {{ orientation }}" src='{{ page.title.image_url_1600x0 }}' data-sizes="auto" width="{{ ratioWidth }}" height="{{ ratioHeight }}" data-src="{{ page.title.image_url_1600x1200 }}" alt="{{ page.title.copy | strip_html }}" data-parent-fit="contain">
              </a>
              <canvas class="{{ orientation }} image-placeholder" width="{{ ratioWidth }}" height="{{ ratioHeight }}" style="background-color:{{ dominantColor }};"></canvas>
          </div>
        </div>
    {% else if page.title.copy and page.title.copy_alignment != "none" %}
        {% if page.type == "gallery" %}
            <div class="title-element pv5-l pv4 w-90-l center flex ph4">
        {% else %}
            {% capture layoutContainer %}{% if theme.listing_layout_container == false %}mb5-l mb4{% endif %}{% endcapture %}
            <div class="title-element pt5-l pt4 w-90-l center flex ph4 {{ layoutContainer }}">
        {% endif %}
            {% capture small %}{% if theme.big_text_typography_size == 'Small' %}mw9{% endif %}{% endcapture %}
            <div class="text big-text lh-copy {{ small }}">{{ page.title.copy }}</div>
        </div>
    {% endif %}
{% endif %}