{% layout %}

    {% theme_include 'partials/header' %}

    <main class="container homepage-container">

        {% theme_include 'partials/title' %}

        <div class="asset-container flex flex-wrap">
            {% for asset in page.assets %}
                <div class="asset w-50 flex">
                    <a class="link relative db pa5 w-100" href="{{ asset.link_url }}"{% if asset.open_in_new_window %} target="_blank"{% endif %} style="background: {{ asset.dominant_color }}">
                        <img class="w-100" src="{{ asset.image_url_1600x1200 }}" alt="{% if asset.copy %}{{ asset.copy }}{% endif %}" />
                        <div class="overlay absolute left-0 top-0 w-100 h-100 z-1 pa5 flex items-center">
                            {% if asset.copy %}
                                <div class="title fw6 f2 lh-solid mw9 center w-100 ph4" style="color: white;">
                                    <span class="f6 db mb2 o-60">View</span>
                                    {{ asset.copy }}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </main>

    {% theme_include 'partials/footer' %}

{% endlayout %}