{% layout %}

    {% theme_include 'partials/header' %}

    <main class="container homepage-container">

        {% theme_include 'partials/title' %}

        {% capture layoutContainer %}{% if theme.listing_layout_container %}w-90-l pv5 ph4{% endif %}{% endcapture %}
        <div class="asset-container center {{ layoutContainer }}">
            {% for asset in page.assets %}
                {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}
                {% if modulo == '1' and theme.listings_layout != 'masonry' %}
                    <div class="inner-asset-container">
                {% endif %}
                        <div class="asset w-100">
                            {% capture dominantColor %}{% if asset.dominant_color %}{{ asset.dominant_color }}{% else %}#eeeeee{% endif %}{% endcapture %}
                            <a class="link relative db w-100 h-100 flex" href="{%if asset.linked_page_type == 'page' or asset.linked_page_type == 'gallery' or asset.linked_page_type == 'content' %}{% unless asset.is_title_page %}{{ page.url }}{% endunless %}{% endif %}{{ asset.link_url }}"{% if asset.open_in_new_window %} target="_blank"{% endif %} style="background: {{ asset.dominant_color }}">
                                <div class="img-container flex items-center justify-center overflow-hidden relative w-100">
                                    {% assign ratioWidth = asset.image_dimensions_1600x1200[0] %}
                                    {% assign ratioHeight = asset.image_dimensions_1600x1200[1] %}
                                    {% capture orientation %}{% if ratioWidth > ratioHeight %}landscape{% elsif ratioHeight > ratioWidth %}portrait{% else %}square{% endif %}{% endcapture %}
                                    <img class="z-2 lazyload {{ orientation }} mw-none" data-sizes="auto" width="{{ ratioWidth }}" height="{{ ratioHeight }}" data-src="{{ asset.image_url_1600x1200 }}" alt="{{ asset.alt_text }}" data-srcset="{{ asset | srcset: 'height' }}" data-parent-fit="contain" />
                                </div>
                                <div class="overlay absolute left-0 top-0 w-100 h-100 z-1 pa4 flex items-center">
                                    {% if asset.copy %}
                                        <div class="title lh-title mw6 ph4">
                                            {% if theme.listing_caption_text != "" %}
                                                <span class="db mb1 o-60">{{ theme.listing_caption_text | newline_to_br }}</span>
                                            {% endif %}
                                            <p>{{ asset.copy }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                {% if modulo == '0' and theme.listings_layout != 'masonry' or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </main>

    {% theme_include 'partials/footer' %}

{% endlayout %}